@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    padding: 0 50px;
}

a {
    text-decoration: none;
    color: black;
}


/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.headerImgImg {
    height: 30px;
}

.navbar {
    display: flex;
    align-items: center;
}

.cta {
    padding: 40px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    text-align: center;
}

.cta:hover {
    color: #0065fc;
    border-top-color: #0065fc;
}



/* Design Search Zone */

.searchZoneTitle {
    font-weight: 700;
}
.searchZoneHeaderText{
    margin: 0 0 15px 0;
}
.searchZoneHeaderTitle{
    margin: 10px 0;
    font-size: 22px;
}


/* Design Search Area */

.searchForm {
    display: inline-flex;
    max-width: 100%;
}

.fa-location-dot {
    background-color: #F2F2F2;
    padding: 15px 20px;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
}

.searchFormArea {
    border: 1px solid #F2F2F2;
    padding: 0 0 0 25px;
}

::placeholder  {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.searchFormArea:focus {
    outline: none;
}

.searchBtn {
    background-color: #0065fc;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding: 0 25px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-magnifying-glass {
    visibility: hidden;
    width: 0;
    transition: width 0.2s;
}

/* Design Filtres */

.filtersZone {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.filtersZoneTitle {
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.filters {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 700;
    padding: 15px;
    margin-right: 20px;
}

.filters:hover {
    background-color: #DEEBFF;
}

.filtersIcon {
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 23px;
}

/* Results */

.result {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.result i {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 5px 10px;
    color: #0065fc;
    margin-right: 10px;
}

.result p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* design hosting main */

.hosting {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.mainHosting {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 0 40px 30px;
}

.mainHostingGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.mainHostingTitle {
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: 700;
}

.mainHostingCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mainHostingCard img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 120px;
}

.hostingCardTitle {
    margin: 0 0 0 15px;
    font-size: 16px;
}

.hostingCardDesc {
    margin: 6px 0 0 15px;
    font-size: 14px;
}

.star-rating {
    padding: 8px 0 5px 15px;
    display: flex;
}

.fa-star {
    font-size: 12px;
}

.checked {
    color: #0065fc;
}

.unchecked {
    color: #D9D9D9;
}

.mainHostingGridFooterTitle {
    margin-top: 40px;
}

/* Design popular hosting */

.popularHosting {
    width: 40%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 30px 50px 30px;
}

.popularHostingGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    height: 100%;
}

.popularHostingTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    font-size: 22px;
}

.popularHostingTitle i {
    color: #0065fc;
    font-size: 22px;
    padding-top: 2px;
}

.popularHostingCard {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 150px;
}

.popularHostingCardContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.popularHostingImgContainer {
    position: relative;
    width: 40%;
    min-width: 40%;
    min-height: 100%;
}

.popularHostingGrid img {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.popularHostingCardDesc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 0 0;
}

.popularHostingCard .star-rating {
    padding-bottom: 15px;

}

/* Activities Design */

.activities {
    margin-top: 40px;
}

.activitiesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    width: 100%;
    margin: 20px 0 60px;
}


.activitiesContainer a {
    position: relative;
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
    height: 450px;
}

.activitiesContainerCardImg {
    height: 100%;
}

.activitiesContainerCardImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

figcaption {
    position: absolute;
    display: flex;
    align-content: center;
    bottom: 0;
    padding: 0 20px;
    width: 100%;
    height: 10%;
    font-weight: 700;
    color: black;
    background-color: white;
    flex-wrap: wrap;
}

.activitiesContainerCardTitle {
    height: 15%;
    flex-wrap: wrap;
    display: flex;
    font-weight: 700;
    align-content: center;
    padding-left: 15px;
}

.activitiesContainerCardTitle p {
    margin: 0;
}




/* Design Footer */

.footer {
    margin: 40px 0 0 0;
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding: 40px 0 40px 70px;
}

.footer p {
    margin: 7px 0;
}

.footer h3 {
    padding-bottom: 15px;
}

.about {
    display: flex;
    flex-direction: column;
    width: 30%;

}

.ourHosting {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.help {
    display: flex;
    flex-direction: column;
    width: 30%;
}



/* MEDIA QUERIES */

@media screen and (min-width: 992px){

    /* Media queries Activités */

    .activitiesContainer {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        gap: 30px;
    }
    .activitiesContainer a {
        width: 30%;
    }
}

@media screen and (max-width: 992px){

    /* Media queries hosting */

    .hosting {
        flex-direction: column;
    }
    .popularHostingGrid {
        flex-direction: row;
    }
    .popularHosting {
        width: 100%;
    }
    .popularHostingCard {
        width: 33%;
    }
    .popularHostingCardDesc {
        padding: 7px;
        font-size: 13px;
    }
    .popularHostingCardDesc .hostingCardTitle {
        margin-left: 2px;
    }
    .popularHostingCardDesc .hostingCardDesc {
        margin-left: 2px;
    }
    .popularHostingCardDesc .star-rating {
        padding: 2px;
    }

    /* Media queries Activités */

    .activitiesContainer {
        flex-direction: row;
        height: auto;
    }
    .activitiesContainer a {
        height: 267px;
    }
    figcaption {
        height: 20%;
    }
}

@media screen and (max-width: 768px) {

    /* Media queries Header */

    body {
        padding: 0;
    }
    .header {
        flex-direction: column;
        padding: 20px 0 0 0;
    }
    .headerImg {
        justify-content: center;
    }
    .cta {
        width: 100%;
        border-bottom-color: #D9D9D9;
    }
    .cta:hover {
        border-top-color: transparent;
        border-bottom-color: #0065fc;
    }
    .navbarContainer {
        width: 100%;
    }

    /* Media queries Search Zone */

    .searchZone {
        padding: 30px 20px 0 20px;
    }
    .searchForm {
        width: 100%;
    }
    .searchFormArea {
        width: 100%;
    }
    .searchForm i{
        visibility: visible;
        transition-delay: 0s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchBtnText {
        display: none;
    }

    /* Media queries filtres */

    .filters {
        width: calc(44%);
        padding: 10px 0 10px 10px;
        margin-bottom: 10px;
    }
    .filtersZone {
        padding: 0 0 0 20px;
    }
    .filtersZoneTitle {
        width: 100%;
        margin-bottom: 15px;
    }
    .filtersName {
        font-size: 11px;
    }
    .result {
        padding-left: 20px;
    }

    /* Media queries Hosting */

    .mainHosting {
        order: 1;
        background-color: white;
        padding: 25px 20px 40px 20px;
    }
    .mainHostingGrid {
        flex-direction: column;
        width: 100%;
    }
    .mainHostingCard {
        width: 100%;
    }
    .mainHostingGridFooterTitle {
        display: none;
    }
    .popularHosting {
        order: 0;
        padding: 25px 20px 40px 20px;
        border-radius: 0px;
    }
    .popularHostingGrid {
        flex-direction: column;
    }
    .popularHostingCard {
        width: 100%;
    }

    /* Media queries Activités */

    .activities {
        padding: 25px 20px 40px 20px;
    }
    .activitiesContainer {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
    .activitiesContainer a {
        width: 100%;
        height: 190px;
    }
    figcaption {
        height: 22%;
    }

    /* Media queries Footer */

    .footer {
        flex-direction: column;
        padding-left: 30px;
        margin-top: 0;
    }
    .about, .ourHosting, .help {
        width: 100%;
    }
    .about, .ourHosting {
        margin-bottom: 40px;
    }
}